.logo{
   height: 100%;
   padding-top: 8px;
}

.logoImg {
   cursor: pointer;
   height: 35px;
   &:hover {
      transform: scale(1.02);
   }
}

@media screen and (max-width: 1150px) {
   .logo{
      display: flex;
      align-items: center;
      padding-top: 0;
   }
   .logoImg {
      height: 30px;
   }
}
