@import "../../scss/variables.scss";

.Materials {
   grid-column: 2/3;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
}
.modalImg {
   max-width: 95vw;
   max-height: 95vh;
}
