@import "../../../scss/variables.scss";

.ContactInfo {
   grid-column: 1/2;
}

.adres,
.mail,
.phone,
.fb,
.yt {
   display: flex;
   align-items: center;
}

.icon {
   color: $color-main;
   height: 30px;
   width: 30px;
   margin-right: 15px;
}

.line {
   border-bottom: 1px solid $color-font;
   width: 90%;
   margin: 10px 0;
}
