@import "../../../scss/variables.scss";

.SearchBar {
   position: absolute;
   top: 117px;
   right: 2%;
   width: 210px;
   height: auto;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
}

.container {
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   div{
      margin: 2px;
   }
}

.title {
   color: $color-main;
   font-size: 16px;
   margin-bottom: 5px;
   &::after,
   &::before {
      content: "";
      display: inline-block;
      width: 30px;
      height: 1px;
      background-color: $color-main;
      margin-bottom: 4px;
   }
   &::after {
      margin-left: 3px;
   }
   &::before {
      margin-right: 3px;
   }
}

@media (max-width: 1200px ){
   .SearchBar {
      top: 92px;
      width: auto;
   }
   .container {
      display: flex;
      flex-wrap: wrap;
      justify-content: center;
      flex-direction: column;
      div{
         margin: 2px;
      }
   }
   
}