@import "../../../scss/variables.scss";

.ContactForm {
   grid-column: 3/4;
   font-size: $font-size-4;
   line-height: $line-height-4;
   background-color: white;
   border-radius: 8px;
   position: relative;
}
.formHeader {
   display: block;
   font-size: 18px !important;
   margin-bottom: 6px;
   @include paragraph;
}
.form {
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.formControl {
   font-size: $font-size-4;
   line-height: $line-height-4;
   color: $color-font;
   width: 100%;
   display: block;
   border-style: none;
   border-bottom: 1px solid $color-main;
   &:focus {
      outline: none;
      border-bottom: 1px solid $color-accent;
   }
}

.afterMessageSend{
   height: 300px;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
}
.icon{
   color: $color-main;
   height: 25px;
   width: 25px;
   margin-left: 10px;
}