@import "../../../scss/variables.scss";

.ContactForm {
   grid-column: 3/4;
   font-size: $font-size-4;
   line-height: $line-height-4;
   background-color: white;
   border-radius: 8px;
   position: relative;
   .header {
      display: block;
      font-size: 17px;
      margin-bottom: 5px;
      color: $color-main;
      @include Roboto900;
   }

   form{
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
   }

   .formControl {
      font-size: $font-size-4;
      line-height: $line-height-4;
      color: $color-font;
      width: 100%;
      display: block;
      border-style: none;
      border-bottom: 1px solid $color-main;
      &:focus {
         outline: none;
         border-bottom: 1px solid $color-accent;
      }
   }

}

@media (max-width: 830px) {
   .ContactForm {
      width: 90%;
      max-width: 340px;
      .header {
         display: block;
         margin-left: auto;
         font-size: 18px;
         margin-bottom: 8px;
         color: $color-main;
         @include Roboto900;
      }
   }
}
