@import "../../../scss/variables.scss";
.ContactBarMobile {
   display: none;
}

@media screen and (max-width: 1200px) {
   .ContactBarMobile {
      display: block;
      margin-top: 20px !important;
   }
   .line {
      border-bottom: 1px solid white;
      margin-bottom: 15px;
   }
   .iconsContainer {
      display: flex;
      flex-wrap: nowrap;
      align-items: center;
      justify-content: space-evenly;
      width: 293px;
   }
   .icon {
      color: $color-accent;
      height: 45px;
      width: 45px;
      &:hover {
         color: $color-accent2;
      }
   }

   .languagesContainer {
      display: flex;
      justify-content: center;
      align-items: center;
      width: 100%;
   }
   .flag{
      padding: 0;
      width: 47px;
      height: 47px;
      border-radius: 25px;
      margin-right: 35px;
      opacity: 0.6;
      background-repeat: no-repeat;
      background-size: cover;
      background-position: center;
      &:hover {
         opacity: 1;
      }
   }
   .flagFR {
      background-image: url("../../../assets/icons/FR.svg");
      margin-right: 0;
   }
   .flagDE {
      background-image: url("../../../assets/icons/DE.svg");
   }
   .flagPL {
      background-image: url("../../../assets/icons/PL.svg");
   }
   .flagEN {
      background-image: url("../../../assets/icons/EN.svg");
   }
   .flagActive {
      opacity: 0.9;
   }
}
