@import "../../../scss/variables.scss";

.Material {
   height: auto;
   max-width: 110ch;
   position: relative;
   display: flex;
}
.imgContainer {
   padding-left: 10px;
   width: 50%;
}
.img {
   width: 100%;
   border-radius: 8px;
   border: 1px solid $color-main;
}

.textContainer {
   width: 50%;
   margin-left: 30px;
   margin-bottom: 10px;
   margin-right: 10px;
}

.Material_line {
   position: absolute;
   bottom: 0;
   width: 100%;
   margin: 0 0 20px;
}

@media (max-width: 1000px) {
   .Material {
      display: flex;
      flex-direction: column;
      
   }
   .imgContainer {
      padding-left: 0;
      width: 100%;
   }
   .textContainer {
      width: 100%;
      margin-left: 0;
      margin-bottom: 0;
      margin-right: 0;
   }
}
