@import "../../../scss/variables.scss";

.Material {
   height: auto;
   max-width: 110ch;
   position: relative;
   display: flex;
   padding-bottom: 50px;
   &:nth-last-of-type(1) {
      padding-bottom: 30px;
      .line {
         display: none;
      }
   }
}

.MaterialSmall {
   @extend .Material;
   display: flex;
   flex-direction: column;
   align-items: center;
   .textContainer{
      max-width: 800px;
   }
}

.marginTop{
   margin-top: 6px;
}

.imgContainer {
   position: relative;
   padding-left: 10px;
   img {
      margin: auto;
      border: 1px solid $color-main;
      border-radius: 10px;
   }
   &:hover {
      img {
         transition: all 0.3s ease-in-out;
      }
   }
}
.imgContainerSmall {
   position: relative;
   display: flex;
   justify-content: center;
}

.imageSmall {
   margin: auto;
   border: 1px solid $color-main;
   border-radius: 10px;
   width: 100%;
}

.textContainer {
   margin-left: 30px;
   margin-bottom: 10px;
   margin-right: 10px;
   position: relative;
}

.line {
   position: absolute;
   bottom: 0;
   width: 100%;
   border-bottom: 1px solid $color-main;
   margin-bottom: 24px;
}
.tagPositioning{
   position: absolute;
   bottom: 1px;
   right: 1px;
   &:last-child(){
      color: red !important;
   }
}
.bar{
   height: 52px;
   width: 5px;
   background-color: $color-main;
   position: absolute;
   top: 0;
   left: -12px;
}
@media screen and (max-width: 1000px) {
   .MaterialSmall {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding-bottom: 30px;
   }
   .imgContainerSmall {
      display: block;
      img {
         margin: auto;
         border: 1px solid $color-main;
         border-radius: 10px;
      }
   }
   .textContainer {
      padding-left: 17px;
      padding-top: 5px;
      margin-left: 0px;
   }
   .bar{
      height: 52px;
      width: 5px;
      background-color: $color-main;
      position: absolute;
      top: 5px;
      left: 5px;
   }
}
