@import "../../../scss/variables.scss";

.returnToTopArrow_show {
   z-index: 10;
	border-radius: 50px;
	background-color: $color-main;
	text-align: center;
	color: white;
	position: fixed;
	bottom: 35px;
	right: 35px;
	background-image: url(../../../assets/icons/arrowUpWhite.svg);
	background-repeat: no-repeat;
	background-size: 32px;
	background-position-x: 9px;
	background-position-y: 7px;
	width: 50px;
    height: 50px;
    opacity: 0.8;
	&:hover {
        opacity: 1;
        cursor: pointer;
		background-position-x: 9px;
		background-position-y: 3px;
	}
}

.returnToTopArrow_hide {
	display: none;
	@extend .returnToTopArrow_show;
}

@media only screen and (max-width: 500px) {
	.returnToTopArrow_show {
		bottom: 35px;
		right: 15px;
	}
}
