@import "../../scss/variables.scss";

.hero {
   @include Roboto400;
   grid-column: 1/4;
   height: auto;
   font-size: $font-size-3;
   position: relative;
   top: -4px;
   display: flex;
   flex-direction: column;
   align-items: center;
   justify-content: center;
   text-align: justify;
}
.container {
   display: flex;
   margin: 0 7%;
   justify-content: flex-end;
   align-items: center;
   align-content: center;
   height: 100%;
   padding: 30px 0;
}
.descriptionContainer {
   width: 100%;
   height: 100%;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   align-content: center;
   margin-top: 200px;
   margin-bottom: 80px;
}
.innerDescription {
   width: 60%;
   text-align: left;
   max-width: 100ch;
   font-size: 16px;
}

.magnifier {
   width: 100%;
	height: 80%;
	position: absolute;
	z-index: -1;
	left: -10vw;
	top: 10px;
	display: flex;
	align-items: center;
}

.magnifierImage {
   max-width: 60%;
   max-height: 80%;
}

@media screen and (max-width: 1700px) {
   .descriptionContainer {
      margin-top: 180px;
      margin-bottom: 50px;
   }
}
@media screen and (max-width: 1500px) {
   .descriptionContainer {
      margin-top: 160px;
      margin-bottom: 60px;
   }
   .innerDescription{
      width: 50%;
   }
}

@media screen and (max-width: 1300px) {
   .descriptionContainer {
      margin-top: 130px;
      margin-bottom: 30px;
   }
}

@media screen and (max-width: 1000px) {
   .magnifier {
      display: none;
   }
   .magnifierImage {
      display: none;
   }
   .container {
      padding: 10px 0;
   }
   .descriptionContainer {
      display: flex;
      justify-content: flex-end;
      align-items: center;
      margin-top: 80px;
      margin-bottom: 0;
   }
   .innerDescription {
      width: 100%;
   }
}

@media screen and (max-width: 700px) {
   .hero {
      font-size: $font-size-4;
      line-height: $line-height-4;
   }
   .descriptionContainer {
      margin-top: 70px;
   }
}
