@import "../../scss/variables.scss";

.Layout {
   display: grid;
   grid-template-columns: 10% 80% 10%;
   color: rgb(45, 45, 45);
   font-family: "Roboto", sans-serif;
   position: relative;
   
}

@media (max-width: 600px) {
   .Layout {
      grid-template-columns: 3% 94% 3%;
   }
}