@import "../../../scss/variables.scss";

.ContactBar {
   margin: 0 10%;
   padding-top: 10px;
   height: 25px;
   display: flex;
   justify-content: flex-end;
   align-items: center;
   z-index: 6;
}

.languagesContainer {
   display: flex;
   margin-left: 10px;
}

.linkContainer {
   display: flex;
   align-items: center;
   margin-left: 23px;
   margin-top: 4px;
   color: $color-accent;
   text-decoration: none;
   font-size: 13px;
   &:hover {
      color: $color-accent2;
      cursor: pointer;
      .icon {
         color: $color-accent2;
      }
   }
}

.icon {
   color: $color-accent;
   height: 20px;
   width: 20px;
   margin-right: 4px;
}

.flag {
   margin-left: 10px;
   width: 24px;
   height: 24px;
   border-radius: 20px;
   padding: 3px;
   color: white;
   text-decoration: none;
   font-size: $font-size-5;
   margin-top: 2px;
   opacity: 0.6;
   &:hover {
      cursor: pointer;
      color: $color-accent;
      opacity: 1;
   }
}
.flagPL {
   background-image: url("../../../assets/icons/PL.svg");
}
.flagEN {
   background-image: url("../../../assets/icons/EN.svg");
}
.flagDE {
   background-image: url("../../../assets/icons/DE.svg");
}
.flagFR {
   background-image: url("../../../assets/icons/FR.svg");
}
.flag_Active {
   opacity: 0.9;
}

@media screen and (max-width: 1150px) {
   .ContactBar {
      display: none;
   }
}
