@import "../../scss/variables.scss";

.Navigation {
   width: 100%;
   @include Roboto900;
   @include mainGradient;
   grid-column: 1/4;
   position: relative;
   z-index: 11;
}
.NavigationOpened {
   @extend .Navigation;
   position: fixed;
}
.container {
   height: 70px;
   margin: 0 10%;
   display: flex;
   justify-content: space-between;
   align-items: center;
}

.listOfNavItems {
   display: flex;
   justify-content: flex-end;
   align-items: center;
}

.link {
   list-style: none;
   color: white;
   margin-right: 24px;
   font-size: $font-size-2;
   text-decoration: none;
   list-style: none;
   &:hover {
      color: $color-accent2;
      cursor: pointer;
   }
}
.active {
   color: $color-accent;
}

.navItem:nth-child(7) .link {
   margin-right: 0px;
}

@media screen and (max-width: 1150px) {
   .navInactive {
      display: none;
   }
   .navActive {
      position: fixed;
      right: 0;
      height: calc(100vh - 70px);
      top: 70px;
      width: 100%;
      @include mainGradient;
      z-index: 11;
      transform: translateX(0);
      transition: transform 0.5s ease-in;
      li {
         margin-top: 28px;
         &:nth-child(1) {
            animation: navLinkFade 0.4s ease forwards;
         }
         &:nth-child(2) {
            animation: navLinkFade 0.5s ease forwards;
         }
         &:nth-child(3) {
            animation: navLinkFade 0.6s ease forwards;
         }
         &:nth-child(4) {
            animation: navLinkFade 0.7s ease forwards;
         }
         &:nth-child(5) {
            animation: navLinkFade 0.8s ease forwards;
         }
         &:nth-child(6) {
            animation: navLinkFade 0.9s ease forwards;
         }
         &:nth-child(7) {
            animation: navLinkFade 1s ease forwards;
         }
         &:nth-child(8) {
            animation: navLinkFade 1.2s ease forwards;
         }
         &:nth-child(9) {
            animation: navLinkFade 1.4s ease forwards;
         }
      }
   }
   .listOfNavItems{
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: flex-end;
   }
}

@media (max-width: 600px) {
   .container {
      margin: 0 5%;
   }
}

@keyframes navLinkFade {
   from {
      opacity: 0;
      transform: translateX(200px);
   }
   to {
      opacity: 1;
      transform: translateX(0px);
   }
}