@import "../../../scss/variables.scss";

.listItem {
   margin-bottom: 20px;
   width: 100%;
   padding: 10px 20px;
   border-radius: 8px;
   box-shadow: 1px 2px 3px rgb(230,230,230);
   &:nth-last-child(1) {
      margin-bottom: 0;
   }
   &:hover {
      background-color: $color-main-light;
      cursor: pointer;
   }
}
.listItemExpanded {
   @extend .listItem;
   background-color: $color-main-light;
}

.arrow {
   width: 25px;
   height: 25px;
   transition: all 0.35s;
}
.arrowRotate {
   @extend .arrow;
   transform: rotate(180deg);
}
.title {
   @include Roboto400;
   font-size: $font-size-3;
   line-height: $line-height-3;
   color: $color-main;
   display: flex;
   justify-content: space-between;
}
.content {
   margin-top: 2px;
   @include paragraph;
}
