@import "../../../scss/variables.scss";

.listItem {
   margin-bottom: 20px;
   width: 100%;
   padding: 10px 20px;
   border-radius: 8px;
   box-shadow: 1px 2px 3px rgb(189, 189, 189);
   &:nth-last-child(1) {
      margin-bottom: 0;
   }
   &:hover {
      background-color: $color-light-gray;
      cursor: pointer;
   }
}
.listItemExpanded {
   @extend .listItem;
   background-color: $color-light-gray;
}
.arrow {
   width: 25px;
   height: 25px;
   transition: all 0.35s;
   color: $color-main;
}
.arrowRotate {
   @extend .arrow;
   transform: rotate(180deg);
}
.titleContainer {
   display: flex;
   justify-content: space-between;
   margin-bottom: 3px;
}
