@import "../../../scss/variables.scss";

.VerticalBar {
   height: auto;
   position: relative;
}

.bar {
   height: 105%;
   width: 3px;
   background-color: $color-main;
   position: absolute;
   top: 0;
   left: -10px;
}
