@import "../../scss/variables.scss";

.Modal {
   position: fixed;
   top: 0;
   left: 0;
   width: calc(100vw - 10px);
   height: 100vh;
   z-index: 20;
   display: flex;
   justify-content: center;
   align-items: center;
   overflow-y: hidden;
   opacity: 1;
   transition: all 2s;
}
.backdrop {
   position: absolute;
   height: 100%;
   width: 100%;
   background-color: rgba(50, 50, 50, 0.9);
}
.container {
   position: relative;
   padding: 60px;
   background-color: #fff;
   border-radius: 8px;
   z-index: 21;
   width: 500px;
}
.imgContainer {
   position: relative;
   padding: 50px;
   background-color: #fff;
   border-radius: 8px;
   z-index: 21;
   max-width: 95vw;
   max-height: 95vh;
   display: flex;
   justify-content: center;
   align-items: center;
}
.closeBtn {
   position: absolute;
   right: 5px;
   top: 5px;
   width: 50px;
   height: 50px;
   &:hover {
      cursor: pointer;
      background-color: rgba(80, 80, 80, 0.1);
      border-radius: 50%;
      .line1,
      .line2 {
         background-color: $color-main2;
      }
   }
}
.line1,
.line2 {
   background-color: $color-main;
   height: 2px;
   width: 30px;
}
.line1 {
   transform: rotate(-45deg) translate(-9px, 25px);
}
.line2 {
   transform: rotate(45deg) translate(24px, 8px);
}

@media (max-width: 550px) {
   .container {
      position: relative;
      padding: 60px 30px 40px;
      background-color: #fff;
      border-radius: 8px;
      z-index: 20;
      width: auto;
   }
   .imgContainer {
      padding: 70px 15px;
   }
}
