@import "../../../scss/variables.scss";

.Tag {
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 12px;
   padding: 2px 7px;
   color: white;
   text-transform: uppercase;
}
.groupTag {
   background-color: $color-main;
}
.indoorOutdoorTag {
   background-color: #89bb1e;
}
.printingTag {
   background-color: #2d2d2d;
}
.bestsellerTag {
   background-color: red;
}
.printing {
   background-color: $color-main;
   // background-color: black;
   border-left: 1px solid white;
}
.products {
   background-color: $color-main;

}
.dtp {
   background-color: orangered;
}
.technology {
   background-color: #89bb1e;
}
