@import "../../../scss/variables.scss";

.Tag {
   font-family: "Montserrat", sans-serif;
   font-weight: 500;
   font-size: 13px;
   padding: 1px 8px;
   color: white;
}
.groupTag {
   background-color: $color-main;
}
.indoorOutdoorTag {
   background-color: #89bb1e;
}
.printingTag {
   background-color: #2d2d2d;
}
.bestsellerTag {
   background-color: red;
   border-top-left-radius: 14px;
}
.printing {
   background-color: black;
}
.products {
   background-color: $color-main;
}
.dtp {
   background-color: orangered;
}
.technology {
   background-color: #89bb1e;
}
