@import "../../../scss/variables.scss";

.H1 {
   @include Roboto900;
   color: $color-main;
   font-size: $font-size-1;
   line-height: $line-height-1;
}

.H1_Italic {
   @include Roboto900i;
   color: $color-main;
   font-size: $font-size-1;
   line-height: $line-height-1;
}
