@import "../../scss/variables.scss";

.ContactContainer {
   grid-column: 1/4;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-direction: column;
   padding: 100px 0;
   background-image: url(../../assets/images/contactImg.jpg);
   background-repeat: no-repeat;
   background-size: cover;
   background-position: center;
   opacity: 0.9;
}

.container {
   position: relative;
   display: grid;
   width: 800px;
   grid-template-columns: 1fr 80px 1fr;
   padding: 80px 50px;
   border-radius: 8px;
   background-color: white;
   margin-bottom: 50px;
   a {
      text-decoration: none;
      color: $color-font;
      &:hover {
         color: $color-main;
      }
   }
}
.header {
   font-size: $font-size-3;
   background: linear-gradient(to right, $color-main, $color-main2);
   background: -webkit-linear-gradient(to right, $color-main, $color-main2);
   width: 260px;
   height: 50px;
   top: -22px;
   left: calc(50% - 130px);
   border-radius: 8px;
   position: absolute;
   text-align: center;
   line-height: 50px;
   color: white;
   box-shadow: 4px 5px 3px 0px gray;
   z-index: 2;
}
.verticalLine{
   grid-column: 2/3;
   justify-self: center;
   width: 1px;
   background-color: $color-main;
}
//------------------------------------------------------

@media only screen and (max-width: 800px) {
   .container {
      display: flex;
      flex-direction: column;
      padding: 60px 40px 40px;
      border-radius: 8px;
   }
}

@media only screen and (max-width: 440px) {
   .container {
      padding: 50px 20px 30px;
   }
}
