@import "../../../scss/variables.scss";

.inputsContainer {
   display: flex;
   align-items: center;
   justify-content: flex-start;
   // background-color: white;
   // border: 1px solid $color-main;
   background-color: $color-light-gray;
   border-radius: 5px;
   padding-left: 15px;
   margin-bottom: 12px;
   width: 100%;
   min-width: 290px;
   height: auto;
}
.input {
   width: calc(100% - 50px);
   height: 42px;
   border-style: none;
   outline: none;
   border-radius: 5px;
   background-color: $color-light-gray;
   @include Roboto400;
   &:focus {
      outline: none;
   }
   &::placeholder {
      @include Roboto400;
      color: gray;
      // color: $color-font;
   }
}
.messageInput {
   display: block;
   width: 100%;
   font-size: $font-size-4;
   line-height: $line-height-4;
   color: $color-font;
   width: 100%;
   display: block;
   border-style: none;
   background-color: $color-light-gray;
   display: block;
   resize: none;
   background-color: none;
   &:focus {
      outline: none;
   }
}

.icon{
   color: $color-main;
   height: 30px;
   width: 30px;
   margin-right: 15px;
}
