@import "../../scss/variables.scss";

.Technology {
   grid-column: 2/3;
   margin-bottom: 20px;
}
.container {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.paragraphBox {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   max-width: 100ch;
}
.paragraph {
   margin-bottom: 20px;
   text-align: left;
}
.header {
   margin-bottom: 6px;
   display: block;
}
.img {
   // max-width: 80ch;
   height: 400px;
}
