@import "../../scss/variables.scss";

.Technology {
   grid-column: 2/3;
   margin-bottom: 20px;
}
.container {
   width: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.paragraphBox {
   display: flex;
   flex-direction: column;
   justify-content: flex-start;
   width: 100ch;
   max-width: 100%;
   margin-bottom: 10px;
}
.paragraph {
   text-align: left;
   font-size: 15px;
   margin: 5px 0;
}
.materialsBox {
   margin-top: 5px;
}
.header {
   display: block;
   margin-top: 5px;
}
.img {
   height: 500px;
   &:hover {
      cursor: pointer;
   }
   &:focus {
      outline: none;
   }
}
.line {
   border-bottom: 1px solid $color-main;
   width: 100%;
   margin: 20px 0;
}
.iconContainer {
   display: flex;
   align-items: center;
   margin-top: 2px;
}
.icon {
   color: $color-main;
   width: 25px;
   height: 25px;
   margin-right: 8px;
}
.link {
   @include paragraph;
   font-size: 15px;
   color: $color-main;
   &:hover {
      cursor: pointer;
      color: $color-main2;
      transform: scale(1.02);
   }
}
.marginBottom {
   margin-bottom: 15px;
}

.table {
   @include paragraph;
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin: 12px 0 5px;
   hr {
      background: white;
      height: 1px;
      width: 100%;
      margin: 3px 0;
   }
}
.innerTable {
   // background-color: $color-main2;
   background-color: rgb(40, 40, 40);
   border: 3px solid white;
   color: white;
   height: 70px;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
   text-align: center;
   padding: 0 10px;
}
