@import "../../scss/variables.scss";

.Footer {
   grid-column: 1/4;
   overflow-x: hidden;
   height: auto;
   padding: 30px 0;
   @include mainGradient;
   color: white;
   font-size: 13px;
   line-height: $line-height-4;
}

.container {
   margin: auto;
   width: 90%;
   display: flex;
   justify-content: space-evenly;
   align-items: flex-start;
}

.box {
   width: 20%;
   height: 70%;
}

.heading {
   color: white !important;
   margin-left: 42px;
   margin-bottom: 10px;
}

.boxItem {
   display: flex;
   flex-direction: column;
   align-items: flex-start;
   justify-content: flex-start;
}
.innerContainer {
   //dane firmy - wyrownanie
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 18px;
}

.link {
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 18px;
   color: white;
   text-decoration: none;
   &:hover {
      color: $color-accent2;
      cursor: pointer;
   }
}

.icon {
   color: #fff;
   height: 30px;
   width: 30px;
   margin-right: 12px;
}

@media screen and (max-width: 1200px) {
   .Footer {
      padding: 20px 0;
   }
   .container {
      width: 94%;
      display: flex;
      flex-wrap: wrap;
      justify-content: space-evenly;
      align-items: flex-start;
   }
   .box {
      min-width: 200px;
      margin-bottom: 22px;
      &:last-child {
         margin-bottom: 0;
      }
   }
}
