@import "../../../scss/variables.scss";

.BlogCard {
   width: 100%;
   height: 255px;
   display: flex;
   justify-content: center;
   margin: 25px 0;
}

.textContainer {
   margin-left: 20px;
   position: relative;
   width: 400px; 
}
.bar{
   height: 52px;
   width: 5px;
   background-color: $color-main;
   position: absolute;
}
.title{
   margin-left: 12px;
}
.date{
   margin-left: 12px;
}
.paragraph{
   margin-top: 5px;
   margin-left: 12px;
   font-size: 15px;
   text-align: left;
}