@import "../../../scss/variables.scss";

.BlogCard {
   width: 100%;
   height: 295px;
   display: flex;
   justify-content: center;
   padding: 20px 0;
}

.textContainer {
   margin-left: 20px;
   position: relative;
}
.bar{
   height: 47px;
   width: 6px;
   background-color: $color-main;
   position: absolute;
}
.title{
   margin-left: 13px;
}
.date{
   margin-left: 13px;
}
.paragraph{
   margin-left: 13px;
   margin-bottom: 20px;
   text-align: left;
   width: 400px; 
   color: 'red' !important
}
.linkContainer{
   margin-left: 13px;
}
.readMore{
   clip-path: polygon(0 0, 88% 0, 100% 100%, 12% 100%);
   border-top: 1px solid $color-main;
   border-bottom: 1px solid $color-main;
   color: $color-main;
   font-size: 16px;
   padding: 5px 31px;
   text-align: center;

   background: -webkit-linear-gradient(to right, $color-main, $color-main2);
   background: linear-gradient(to right, $color-main, $color-main2);
   color: white;
   transition: 0.2s linear;
   border-top: 1px solid $color-main;
   border-bottom: 1px solid $color-main;

   &:hover {
      cursor: pointer;
      background: white;
      color: $color-main;
   }
}