@import '../../../scss/variables.scss';

.Products{
   grid-column: 1/4;
   position: relative;
   display: flex;
   flex-wrap: wrap;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.container{
   padding-top: 100px;
   padding-bottom: 20px;
   width: 100%;
   display: flex;
   flex-direction: column;
   align-items: center;
}

.productsContainer{
   max-width: 1200px;
   width: 80%;
   display: flex;
   flex-wrap: wrap;
   justify-content: space-around;
   align-items: center;
}
.seeAll{
   position: relative;
   width: 240px;
   margin-bottom: 35px;
}