@import "../../scss/variables.scss";

//News
.News {
   grid-column: 1/4;
   position: relative;
   top: -4px;
   display: flex;
   align-items: center;
   justify-content: center;
   margin-bottom: 20px;
}
.container {
   width: 90%;
   max-width: 1100px;
   padding: 100px 0 10px;
   outline: none !important;
}

//Catalog
.Catalog {
   display: flex;
   justify-content: center;
   align-items: center;
}
.imgBox {
   width: 35%;
   margin-right: 5%;
   height: 100%;
   .img {
      max-width: 100%;
      max-height: 500px;
      padding-top: 30px;
   }
}
.descriptionBox {
   width: 60%;
   max-width: 60ch;
   height: 100%;
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
}
.CTAlink {
   min-width: 250px;
   position: relative;
   margin-top: 55px;
}

@media (max-width: 900px) {
   .News {
      margin-bottom: 15px;
   }
   .container {
      padding: 60px 0 10px;
   }
   .Catalog {
      width: 100%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 0 0 5px;
   }
   .descriptionBox {
      padding-top: 30px;
      width: 100%;
   }
   .imgBox {
      width: 100%;
      margin-right: 0;
      z-index: -1;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}

@media (max-width: 600px) {
   .container {
      width: 94%;
   }
}
