// variables__colors
$color-main: #10549b;
$color-main2: #1078bf;
$color-main3: rgb(3, 70, 153);
$color-accent: #99cc33;
$color-accent2: #c0ee63;
$color-font: rgb(45, 45, 45);
$color-light-gray: #E8E8E8;

// variables__font-size
$font-size-1: 26px;
$font-size-2: 19px;
$font-size-3: 16px;
$font-size-4: 14px;
$font-size-5: 12px;
$font-size-6: 10px;

// variables__line-height
$line-height-1: 39px;
$line-height-2: 27px;
$line-height-3: 24px;
$line-height-4: 19px;
$line-height-5: 17px;
$line-height-6: 13px;

// variables__font-family
@mixin Roboto400 {
   font-family: "Roboto", sans-serif;
   font-weight: 400;
   font-style: normal;
}
@mixin Roboto900i {
   font-family: "Roboto", sans-serif;
   font-weight: 900;
   font-style: italic;
}
@mixin Roboto900 {
   font-family: "Roboto", sans-serif;
   font-weight: 900;
   font-style: normal;
}
@mixin paragraph {
   font-family: 'Montserrat', sans-serif;
   font-weight: 500;
   font-size: 15px;
   line-height: 23px;
}
@mixin mainGradient {
   background: -webkit-linear-gradient(to right, $color-main, $color-main2);
   background: linear-gradient(to right, $color-main, $color-main2);
}

@mixin navContainer{
   grid-column: 2/3;
   display: flex;
   flex-wrap: wrap;
   justify-content: center;
   margin-top: 15px;
}