@import "../../scss/variables.scss";

.Specifications {
   grid-column: 2/3;
   padding: 20px 0;
   min-height: 65vh;
}

.nav {
   width: 100%;
   height: 60px;
   display: grid;
   grid-template-columns: 32% 2% 32% 2% 32%;
   justify-items: center;
   align-items: center;
   border-bottom: 2px solid lightgray;
   position: relative;
   h4 {
      color: $color-main;
      display: flex;
      align-items: center;
   }
   
   svg {
      margin-left: 14px;
      height: 35px;
      width: 35px;
   }
}

.templates {
   display: grid;
   // grid-template-columns: repeat(3, 33.33%);
   grid-template-columns: 32% 2% 32% 2% 32%;
   justify-items: center;
}
.verticalLine{
   justify-self: center;
   height: 100%;
   width: 1px;
   border: 1px solid lightgray;
}