@import "../../scss/variables.scss";

.CoronaCatalog {
	@include Roboto400;
	grid-column: 1/4;
	height: auto;
	font-size: $font-size-3;
	line-height: 28px;
	position: relative;
	display: flex;
	align-items: center;
	justify-content: center;
	text-align: justify;
}
.container {
   width: 90%;
	display: flex;
	justify-content: center;
	align-items: center;
   padding: 100px 0 50px;
}

.imageContainer {
   width: 35%;
   height: 100%;
	z-index: -1;
	display: flex;
	align-items: center;
	justify-content: flex-start;
	.image {
		max-width: 100%;
      max-height: 500px;
      padding-top: 30px ;
	}
}
.description_container {
	max-width: 65%;
	height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
.innerDescription {
   width: 85%;
   text-align: left;
   margin-bottom: 35px;
}
.CTAbutton {
	display: flex;
	justify-content: center;
	&:hover {
		cursor: pointer;
		transform: scale(1.02);
	}
}

.CTAlink {
	clip-path: polygon(0 0, 90% 0%, 100% 100%, 10% 100%);
	text-decoration: none;
	display: inline-block;
	min-width: 250px;
}

.CTAtext {
	font-size: $font-size-3;
	line-height: $line-height-2;
	@include Roboto400;
	height: 50px;
	padding: 10px 20px;
	text-align: center;
	background: linear-gradient(to right, $color-accent, $color-accent2);
	color: $color-main;
}

@media screen and (max-width: 900px){
   .container {
      width: 90%;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 60px 0 50px;
   }
   .description_container {
      padding-top: 30px;
      width: 100%;
   }
   .innerDescription {
      width: 100%;
      text-align: left;
      margin-bottom: 35px;
   }
   .imageContainer {
      width: 100%;
      z-index: -1;
      display: flex;
      align-items: center;
      justify-content: center;
   }
}