@import "../../../scss/variables.scss";

.ProductItem {
   width: 80%;
   margin-left: 10%;
   margin-bottom: 10px;
   &:nth-last-child(1) {
      margin-bottom: 0;
   }
   &:hover {
      cursor: pointer;
      .image {
         opacity: 1;
      }
      .titleContainer {
         transform: scale(1.004);
         color: $color-main;
      }
   }
}
.titleContainer {
   display: flex;
   justify-content: space-between;
   align-items: center;
   margin-bottom: 3px;
   color: $color-font;
   padding: 2px 20px;
   border-radius: 8px;
   box-shadow: 1px 2px 3px rgb(189, 189, 189);
   &:first-child {
      margin-top: 12px;
   }
}
.arrow {
   width: 25px;
   height: 25px;
   transition: all 0.35s;
   color: $color-main;
}
.arrowRotate {
   @extend .arrow;
   transform: rotate(180deg);
}
.imageContainer {
   display: flex;
   justify-content: center;
   width: 80px;
}
.image {
   height: 60px;
   max-width: 85px;
   opacity: 0.7;
}
