@import "../../../../scss/variables.scss";

.Card {
   width: 100%;
   max-width: 400px;
   height: 255px;
   position: relative;
}

.image {
   height: 100%;
   width: 100%;
   border: 1px solid $color-main;
   border-top-left-radius: 10px;
   border-top-right-radius: 10px;
   img {
      background-size: contain;
   }
}

.tags {
   position: absolute;
   bottom: 1px;
   right: 1px;
   display: flex;
}
@media(max-width: 600px){
   .Card {
      height: 220px;
   }
}